<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/Driver"/>
    <booleanAttribute key="default" value="true"/>
    <booleanAttribute key="default_auto_start" value="true"/>
    <intAttribute key="default_start_level" value="8"/>
    <setAttribute key="deselected_workspace_bundles"/>
    <booleanAttribute key="includeOptional" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -console"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dorg.eclipse.swt.graphics.Resource.reportNonDisposed=true -Declipse.ignoreApp=true -Dosgi.noShutdown=true -Dosgi.startLevel=8 -Dcosbench.tomcat.config=./conf/controller-tomcat-server.xml -Dosgi.configuration.area=conf/.driver/"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/home/users/maxnieberger/repo/cosbench/max-cosbench/release"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="com.springsource.freemarker@2:start"/>
        <setEntry value="com.springsource.javax.activation@1:start"/>
        <setEntry value="com.springsource.javax.annotation@1:start"/>
        <setEntry value="com.springsource.javax.ejb@1:start"/>
        <setEntry value="com.springsource.javax.el@1:start"/>
        <setEntry value="com.springsource.javax.jms@1:start"/>
        <setEntry value="com.springsource.javax.mail@1:start"/>
        <setEntry value="com.springsource.javax.persistence@1:start"/>
        <setEntry value="com.springsource.javax.servlet@1:start"/>
        <setEntry value="com.springsource.javax.servlet.jsp@1:start"/>
        <setEntry value="com.springsource.javax.transaction@1:start"/>
        <setEntry value="com.springsource.javax.xml.bind@1:start"/>
        <setEntry value="com.springsource.javax.xml.rpc@1:start"/>
        <setEntry value="com.springsource.javax.xml.soap@1:start"/>
        <setEntry value="com.springsource.javax.xml.stream@1:start"/>
        <setEntry value="com.springsource.javax.xml.ws@1:start"/>
        <setEntry value="com.springsource.org.aopalliance@2:start"/>
        <setEntry value="com.springsource.org.apache.catalina@2:start"/>
        <setEntry value="com.springsource.org.apache.commons.beanutils@2:start"/>
        <setEntry value="com.springsource.org.apache.commons.codec@2:start"/>
        <setEntry value="com.springsource.org.apache.commons.collections@2:start"/>
        <setEntry value="com.springsource.org.apache.commons.configuration@2:start"/>
        <setEntry value="com.springsource.org.apache.commons.digester@2:start"/>
        <setEntry value="com.springsource.org.apache.commons.fileupload@2:start"/>
        <setEntry value="com.springsource.org.apache.commons.io@2:start"/>
        <setEntry value="com.springsource.org.apache.commons.jxpath@2:start"/>
        <setEntry value="com.springsource.org.apache.commons.lang@2:start"/>
        <setEntry value="com.springsource.org.apache.coyote@default:default"/>
        <setEntry value="com.springsource.org.apache.juli.extras@2:start"/>
        <setEntry value="com.springsource.org.apache.log4j@2:start"/>
        <setEntry value="com.springsource.org.apache.regexp@2:start"/>
        <setEntry value="com.springsource.org.apache.xerces@default:default"/>
        <setEntry value="com.springsource.org.apache.xml.resolver@2:start"/>
        <setEntry value="com.springsource.org.apache.xmlcommons@2:start"/>
        <setEntry value="com.springsource.org.castor@2:start"/>
        <setEntry value="com.springsource.org.codehaus.jackson@2:start"/>
        <setEntry value="com.springsource.org.codehaus.jackson.mapper@2:start"/>
        <setEntry value="com.springsource.org.jdom@2:start"/>
        <setEntry value="com.springsource.org.joda.time@2:start"/>
        <setEntry value="com.springsource.slf4j.api@2:start"/>
        <setEntry value="com.springsource.slf4j.log4j@default:default"/>
        <setEntry value="com.springsource.slf4j.org.apache.commons.logging@2:start"/>
        <setEntry value="org.apache.httpcomponents.httpclient@2:start"/>
        <setEntry value="org.apache.httpcomponents.httpcore@2:start"/>
        <setEntry value="org.springframework.aop@3:start"/>
        <setEntry value="org.springframework.asm@3:start"/>
        <setEntry value="org.springframework.beans@3:start"/>
        <setEntry value="org.springframework.context@3:start"/>
        <setEntry value="org.springframework.context.support@3:start"/>
        <setEntry value="org.springframework.core@3:start"/>
        <setEntry value="org.springframework.expression@3:start"/>
        <setEntry value="org.springframework.web@3:start"/>
        <setEntry value="org.springframework.web.servlet@3:start"/>
        <setEntry value="spring@4:start"/>
        <setEntry value="spring@4:start"/>
        <setEntry value="spring@4:start"/>
        <setEntry value="spring@5:start"/>
        <setEntry value="spring@5:start"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="cosbench-ampli@7:start"/>
        <setEntry value="cosbench-api@7:start"/>
        <setEntry value="cosbench-castor@default:default"/>
        <setEntry value="cosbench-cdmi-base@7:start"/>
        <setEntry value="cosbench-cdmi-swift@7:start"/>
        <setEntry value="cosbench-cdmi-util@6:start"/>
        <setEntry value="cosbench-config@6:start"/>
        <setEntry value="cosbench-core-web@8:start"/>
        <setEntry value="cosbench-core@8:start"/>
        <setEntry value="cosbench-driver-web@8:start"/>
        <setEntry value="cosbench-driver@8:start"/>
        <setEntry value="cosbench-ecs@7:start"/>
        <setEntry value="cosbench-gcs@7:start"/>
        <setEntry value="cosbench-http@6:start"/>
        <setEntry value="cosbench-httpauth@7:start"/>
        <setEntry value="cosbench-keystone@7:start"/>
        <setEntry value="cosbench-librados@7:start"/>
        <setEntry value="cosbench-log4j@default:default"/>
        <setEntry value="cosbench-log@6:start"/>
        <setEntry value="cosbench-mock@7:start"/>
        <setEntry value="cosbench-openio@7:start"/>
        <setEntry value="cosbench-oss@7:start"/>
        <setEntry value="cosbench-s3@7:start"/>
        <setEntry value="cosbench-scality@7:start"/>
        <setEntry value="cosbench-swauth@7:start"/>
        <setEntry value="cosbench-swift@7:start"/>
        <setEntry value="cosbench-tomcat@7:start"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
</launchConfiguration>
